.card {
  border-radius: var(--border-radius);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.id, 
.title {
  
}

.title {
  
}

.id {
  text-shadow: 0px 0px 16px rgba(var(--colors-interface-glow), 0.25), 0px 0px 8px rgba(var(--colors-interface-glow), 0.25), 0px 4px 32px rgba(var(--colors-interface-glow), 0.5);
}

.close-btn {
  position: absolute;
  top: 60px;
  right: 40px;
}

.description {
  font-weight: 600;
}
