.card {
  border-radius: var(--border-radius);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 60px;
  right: 40px;
}

.description {
  font-weight: 600;
}
