.card {
}

.title {
  margin-right: auto;
  line-height: 64px;
}

.properties {
  display: flex;
}

.property {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.property-label,
.property-value {
  line-height: 24px;
}

.property-label {
  font-weight: 600;
  margin-bottom: calc(var(--offset-base-size) * 2);
}

.property-value {
}
