*,
*::before,
*::after {
  box-sizing: border-box;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.pl-12 {
  padding-left: calc(var(--offset-base-size) * 12) !important;
}

.flex-1 {
  flex: 1 !important;
}

.align-items-center {
  align-items: center !important;
}

.constructor-element {
  max-width: 100%;
}
