:root {
   --colors-interface-glow: 51, 51, 255;
   --colors-interface-overlay: 0, 0, 0;
   --colors-interface-accent-rgb: 76, 76, 255;
   --colors-skeleton-base: #2f2f37;
   --colors-skeleton-highlight: #32323a;
   --border-radius: 30px;
   --skeleton-border-radius: 3px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.pl-12 {
  padding-left: calc(var(--offset-base-size) * 12) !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.space-between {
  justify-content: space-between;
}

.constructor-element {
  max-width: 100%;
}

.modal-is-shown {
  overflow: hidden;
}

/* fix width according to figma template */
.custom-scroll::-webkit-scrollbar {
	width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 0;
}

.input_size_default {
  width: 480px;
}

.tac {
  text-align: center;
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}
