.menu-item {
  text-decoration: none;
  color: var(--text-inactive-color);
  display: flex;
  align-items: center;
}

.icon {
  font-size: 0;
  margin-right: calc(var(--offset-base-size) * 2);
}

.icon svg {
  fill: var(--text-inactive-color);
}

.menu-item.active {
  color: var(--text-primary-color);
}

.menu-item.active .icon svg{
  fill: var(--text-primary-color);
}

.menu-item.vertical {
  padding-left: 0;
}
